*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* colori */
.green{
    background-color: #009688;
}

.white{
    background-color: white;
}


.blue{
    background-color: #8EDAFC;
    
}

.blue-color{
    color: #8EDAFC;
}
.grey{
    color: grey;
}

.grey-back{
    background-color: #DCDBD2;
}

.grey-footer{
    background-color: #E9EBEB
}

/* margini e padding */
.margin-left{
    margin-left: 10px;
}

.margin{
    margin-top: 10px ;
}

.margin-right{
    margin-right: 20px;
}

.padding-left{
    padding-left: 10px;
}
.height-header{
    height: 300px;
}

.height-100{
    height: 100%;
}

.height-70{
    height: 70px;
}

.input-width{
    width: 500px;
    height: 30px;
    
}

.border{
    border: 1px solid grey;
}

.border-right{
    border-right: 1px solid grey;
}

.text-end{
    text-align: end;
}

.size-icon{
    font-size: 1.5em;
}

/* position */
.relative{
    position: relative;
}


.absolute{
    position: absolute;
    top: 30px;
    left: 10%; 
    z-index: 10;

}

.flex{
    display: flex;
}


.flex-column{
    display: flex;
    flex-direction: column;
}

.align{
    align-items: center;
    
}




/* container */
.container-main{
    width: 80%;
    height: 800px;
    margin: 0 auto;
}


.container-left{
    width: 35%;
    height: calc(100% - 70px);
}

.container-right{
    width: 70%;
    background-image: url(/img/mine.jpg);
    height: 90%;
    
}

.overflow{
    overflow-x: auto;
}


/* avatar-sinistra */

.avatar{
    
    align-items: center;
    width: 100%;
    height: 75px;
    justify-content: space-between;
    
    

}

.size-icon{
    width: 10%;
    border-radius: 50%;
}



.radius  {
    width: 15%;
    border-radius: 50%;
}
.radius-icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding-top: 20px;
    text-align: center;
    vertical-align: sub;
    
    
}



/* hover-avatar */
#avatar:hover {
    background-color: #E9EBEB;
}


/* input-text */
.search {
    padding: 5px;
    background-color: #eaeaea;
    justify-content: space-between;
    
}

.input {
    background-color: white;
    padding: 5px;
    display: flex;
    
}

.input input {
    border: none;
    outline: none;
    width: 100%;
}



.footer {
    
    bottom: 0;
    right: 15%;
    display: flex;
    flex-wrap: wrap;
    

}



.beetwen{
    justify-content: space-between;
}

.chat-text {
    height: 75px;
    align-items: center;
    width: 85%;
    
    
}

.chat-text input{
    width: 100%;
    height: 50px;
    border: none;
}


.message{
    height: calc(100% - 140px);
    
}

ul li {
    list-style: none;
}

.body-messages {
    background-image: url(../img/mine.jpg);
    height:calc(100% - 130px);
    overflow: auto;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
}

.body-messages li {
    padding: 10px;
    background-color: white;
    width: 30%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.body-messages .send {
    align-self: flex-end;
    background-color: chartreuse;
}

.body-messages .date {
    font-size: 0.8em;
    align-self: flex-end;
}
