*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* colori */
.green{
    background-color: #009688;
}

.white{
    background-color: white;
}


.blue{
    background-color: #8EDAFC;
    
}

.blue-color{
    color: #8EDAFC;
}
.grey{
    color: grey;
}

.grey-back{
    background-color: #DCDBD2;
}

/* margini e padding */
.margin-left{
    margin-left: 10px;
}

.margin{
    margin-top: 10px ;
}

.padding-left{
    padding-left: 10px;
}
.height-header{
    height: 300px;
}

.height-100{
    height: 100%;
}

.height-10{
    height: 10%;
}

.input-width{
    width: 500px;
    height: 30px;
    
}

.border{
    border: 1px solid grey;
}


/* position */
.relative{
    position: relative;
}


.absolute{
    position: absolute;
    top: 30px;
    left: 10%; 
    z-index: 10;

}

.flex{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.align{
    align-items: center;
    
}

.space-end{
    justify-content: end;
}


/* container */
.container-main{
    width: 80%;
    height: 800px;
    margin: 0 auto;
    /* background-color: hotpink; */
}


.container-left{
    width: 30%;
    
}

.container-right{
    width: 70%;
    background-image: url(/img/mine.jpg);
    border: 1px solid black;
}

/* avatar-sinistra */

.avatar{
    
    align-items: center;
    width: 100%;
    height: auto;
}



.radius  {
    width: 20%;
    border-radius: 50%;
}
.radius-icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding-top: 20px;
    text-align: center;
    vertical-align: sub;
    
    
}



/* hover-avatar */
.avatar:hover {
    background-color: #E9EBEB;
}


/* input-text */
.search {
    padding: 5px;
    background-color: #eaeaea
    ;
}

.input {
    background-color: white;
    padding: 5px;
    display: flex;
    
}

.input input {
    border: none;
    outline: none;
    width: 100%;
}