<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- cdn dayjs -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/plugin/utc.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.20/plugin/customParseFormat.js"></script>
    <link rel="stylesheet" href="css/style.css">
    
    <title>Document</title>
</head>
<body class="grey-back" grey-back>
    <div class="container ">
        <header>
            <div class="green height-header
            relative "></div>
        </header>
        <!-- container-main/collegamento vue -->
        <div id="app" class="container-main absolute flex ">
            <!-- container-left -->
            <div class="container-left height-100 flex-column white border-right ">
                <div class="avatar flex padding-left height-10">
                    <div class="flex align">
                        <img class="radius" src="img/avatar_4.jpg" alt="">
                    <h3>Nome utente</h3>
                    </div>
                    <div class="grey margin-right size-icon flex">
                        <i class="fas fa-sync-alt  "></i>
                    <i class="fas fa-comment-alt margin-left"></i>
                    <i class="fas fa-ellipsis-v margin-left"></i>
                    </div>
                </div>
                <div class="flex blue padding-left height-70 align">
                    <div class=" blue flex align ">
                        <i class="radius-icon white fas fa-bell-slash fa-2x blue-color "></i>
                    </div>
                    
                    <div class="flex-column margin-left  ">
                        <h4>Ricevi notifiche di nuovi messaggi</h4>
                        <a href="#"> Attiva notifiche desktop</a>
                    </div>
                </div>
                <div class=" padding-left margin  ">
                    
                    <div class="search grey">
                        <div class="input">
                            <i class="fas fa-search margin-right"></i>
                            <!-- input search richiama funzione ricerca nome  -->
                            <input v-model="messageNew" @keyup="searchChat"  type="text" placeholder="cerca o inizia una nuova chat">
                        </div>
                    </div>
                </div>
                <!-- creazione conversazioni avatar con vue ciclo for -->
                <!-- click cambio conversazione -->
                <!-- if controllo se index = al counter aggiungi classe active -->
                <!-- v-if se contact.visible = true prende il nome scritto dall'input -->
                <div class="overflow height-100 ">
                    <div id="avatar" @click="change(index)" class="avatar flex padding-left  margin 
                        " :class="(index == counter) ? 'active' : '' " v-for="(contact,index) in contacts" v-if="contact.visible" >
                        <div class="flex align">
                            <img class="radius" :src="`img/avatar${contact.avatar}.jpg`" alt="">
                            <div @click="" class="flex-column">
                                <!-- nome contatto -->
                                <h3>{{contact.name}}</h3>
                                <!-- ultimo messaggio -->
                                <p class="grey">{{contact.messages[(contact.messages.length - 1)].text}}</p>
                            </div>
                        </div>
                        <div class="grey flex ">
                            <div class="flex width-140">
                                <!-- data e orario contatto -->
                                <span>{{ contact.messages[(contact.messages.length - 1)].date}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                

            </div>
            <!-- container-right -->
            <div class="container-right height-100   ">
                <div class="avatar flex padding-left height-70 white">
                    <div class="flex align ">
                        <img class="radius" :src='`img/avatar${contacts[counter].avatar}.jpg`' alt='`${contacts[counter].name}`'>
                        <div>
                            <h3>{{contacts[counter].name}}</h3>
                            <span class="grey">Ultimo accesso oggi alle {{ contacts[counter].messages[(contacts[counter].messages.length - 1)].date}}</span>
                        </div>
                        
                    </div>
                    <div class=" flex grey margin-right   size-icon">
                        <i class="fas fa-search margin-right"></i>
                        <i class="fa fa-paperclip margin-right"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <!-- inserimento conversazioni -->
                <div class="message overflow ">
                    <ul class="body-messages">
                        <li v-for="(message, index) in contacts[counter].messages" 
                        :class="(message.status == 'sent') ? 'send' : 'received' " >
                            <div> {{message.text}}</div>

                            <div class="date">{{ message.date}}</div>
                            
                             <!-- menu dropdown delete messaggio  -->
                            <div class="dropdown">
                                <i class=" fas fa-angle-down"></i> 
                                <div class="dropdown-content">    
                                    <ul>
                                        <li>Info</li>
                                        <li @click="deleteMsg(contacts[counter].messages, index)">Elimina messaggio</li>
                                    </ul>   
                                </div>
                            </div> 
                        </li>
                    </ul>

                </div>



                <!-- footer input inserimento testo -->
                <footer>
                    <div class="footer flex  padding-left height-70 white align beetwen grey  grey-footer">
                        <div class="chat-text flex  ">
                            <i class="far fa-smile size-icon margin-right"></i>
                            <input @keyup.enter="newMessage(contacts[counter].messages)" v-model="newMsg"  type="text" placeholder="Scrivi un messaggio"> 
                        </div>
                        <div>
                            <i class="fas fa-microphone size-icon margin-right"></i>
                        </div>
                        
                    </div>

                </footer>

            </div>
            

        </div>

    </div>

    <script src="js/script.js"></script>
</body>
</html>